@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


/* ^ Thanks Stack Overflow ^/*


/* ************************************
**   HEADING
************************************ */

#heading {
    text-align: center;
    font-family: monospace;
    background: whitesmoke;
    font-size: 24px;
}

#heading {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-content: center;
    align-items: center;

}
/* ************************************
**              BODY
************************************ */
body {
    background-image:url(https://wallpaperaccess.com/full/1892364.jpg);
    background-size: cover;
}

img {
   z-index: -1;
    position: absolute;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 1fr;
}


/* ************************************
**   QUESTIONS
************************************ */
#trivia {
    display: flex;
    flex-direction: column;
    margin-left: 12vw;
     /* width: 25%;  */
    /* align-items: left;
    align-content: left;  */
    /* grid-template-columns: 1fr 1fr; */
}




#Question {
    align-items: left;
    width: 40%;
    padding: 30px;
    text-align:center;
    font-family: monospace;
    border: 3px solid black;
    background-color: papayawhip;
    font-size: 28px;
    margin: 10px;
    border-radius: 5px;
    justify-content: left;
}


/* ************************************
**   ANSWERS
************************************ */


#answer {
    width: 40%;
    text-align: center;
    font-family:  monospace;
    margin: 10px 50px;
    color: white;
    background-color: papayawhip;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 5px;
}

#answer ul {
    float: left;
    display: flex;
    justify-content: space-around;
    list-style: none;
 
    padding: 0;
    flex-wrap: wrap;
}

#answer ul li {
    text-align: center;
    width: 75%;
    height: 100px;
    background-color: grey;
    padding:  10px 10px 10px 10px;
    margin: 5px ;
    border-radius: 5px;
    justify-content: center;

}


#Scores {
    display: flex;
    flex-direction: row;
    gap: 100px;
    /* text-align: center;
    justify-content: center;
    margin: 10px auto black; */

}

#Player1 ,#Player2 {
    flex-direction: row;
    display: flex;
    width:40%;
    text-align: center;
    margin: 20px auto black;
    font-family: monospace;
    
   
}

h3 {
    align-items: left;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    height: fit-content;
    text-align: center;
    background-color: grey;
    margin:  auto black;
    font-family: monospace;  
}

h4 {
    align-items: left;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    height: fit-content;
    text-align: center;
    font-family: monospace; 
    margin: auto 10px; 
}   
